@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
  box-sizing: border-box;
}

div {
  position: relative;
  z-index: 2;
}

body {
  background-color: #333;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.footer {
  width: 29vw;
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 0.8em;
  color: #fff;
}

.footer a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

#quote-box {
  border-radius: 3px;
  position: relative;
  width: 29vw;
  padding: 40px 50px;
  margin-top: 3vh;
  display: table;
  background-color: #fff;
}

.quote-text {
  text-align: center;
  width: 29vw;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 1.75em;
}

.quote-author {
  width: 29vw;
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
}

.buttons {
  width: 29vw;
  margin: auto;
  display: block;
  overflow: hidden;
}

.button {
  height: 5.5vh;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #333;
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  margin-top: 20px;
  opacity: 1;
  cursor: pointer;
  align-items: baseline;
}

.button:hover {
  opacity: 0.9;
}

#tweet-quote {
  float: left;
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  margin-right: 5px;
}

#new-quote {
  float: right;
}

@media screen and (max-width: 600px) {
  #quote-box {
    width: 40vw;
  }
  .buttons {
    width: 40vw;
  }
  .quote-text {
    width: 40vw;
    height: auto;
    clear: both;
    font-weight: 500;
    font-size: 1.4em;
  }

  .quote-author {
    width: 40vw;
    font-size: 1em;
  }

  .footer {
    width: 40vw;
  }
}
